.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;

}

.img {
    width: 957px;
    height: 320px;
}

.dialogsItems {
    padding: 10px;
    color: aliceblue;

}

.dialogsItems .active {
    color: green;
}

.messages {
    padding: 10px;
}

.messges .message {
    color: white;
}